streamlit
requests
pandas
numpy
plotly>=5.0
kaleido>=0.2.1
matplotlib
seaborn
altair
pillow
opencv-python
scipy
statsmodels
scikit-learn
tensorflow
torch
torchvision
beautifulsoup4
lxml
json5
urllib3
tqdm
python-dateutil

